* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

body {
  background-color: #ced3df;
  text-align: center;
}

.list {
  width: 400px;
  margin: auto;
  background-color: #f1f0f7;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 9px -4px #000000;
  box-shadow: 5px 5px 9px -4px #000000;
}

.header {
  height: 48px;
  padding: 8px;
  font-size: 24px;
  background: #c2c2ed;
  background: linear-gradient(
    90deg,
    rgba(194, 194, 237, 1) 0%,
    rgba(164, 164, 245, 1) 30%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 20px 20px 0 0;
  color: white;
}

.items {
  height: 500px;
  overflow-y: auto;
  /* automatically toggles scrollbar */
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 32px;
}

.item__divider {
  margin: auto;
  width: 90%;
  height: 2px;
  background-color: lightgray;
}

.item__delete {
  transition: all 300ms ease-in;
  font-size: 16px;
}

.item__delete:hover {
  color: red;
  transform: scale(1.1);
}

.footer {
  background: #c2c2ed;
  background: linear-gradient(
    90deg,
    rgba(194, 194, 237, 1) 0%,
    rgba(164, 164, 245, 1) 30%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 0 0 20px 20px;
}

.footer__input {
  width: 100%;
  height: 32px;
  border: none;
  outline: none;
  font-size: 24px;
  padding: 0 16px;
}

.footer__button {
  width: 48px;
  height: 48px;
  font-size: 28px;
  background-color: black;
  border-radius: 50%;
  color: white;
  transition: all 300ms ease-in;
}

.footer__button:hover {
  transform: scale(1.1);
}
